
.mellowfeedback {
  background-color: #FFFFFF;
  margin: 5px;
  padding: 10px;
}

.embedbox {
  border: medium double rgb(241, 200, 69);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

.mellowfeedback .embedbox {
  border: medium double grey;
}
